.Productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #780707;
  }
  .container {
    text-align: center;
  }
  
  .button {
    background-color: rgb(251, 255, 0);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  
  .Comida,
  .Bebidas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 250px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    background-color: #ffba1b;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-title {
    margin: 0;
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .card-text {
    margin: 0;
    font-weight: bold;
  }